<div class="container-fluid bg-3 text-center"> 
  <h3>About the Developer?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
      <img src="http://www.orangesmile.com/extreme/img/main/colossus-rhodi_1.jpg" alt="Image" height="300" width="300">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnftJeeenqbOqcwg47xR-g4iiZS96fDZU6GAvZ23z3jBgDgV74Fg" alt="Image" height="300" width="300">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum..</p>
      <img src="https://kids.nationalgeographic.com/content/dam/kids/photos/articles/History/M-Z/Lighthouse-of-Alexandria.ngsversion.1458139148731.png" alt="Image" height="300" width="300">
    </div>
  </div>
</div>
<h1>This is my about page</h1>
<p><%= link_to 'link to Home page', root_path %></p>
<a href="https://charliebotello.github.io/">link to profile</a>


<img  src="/profile.png" alt="Image" height="300" width="300" >
