<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy <a href="https://github.com/CharlieBotello/OurBlogApp">Our Blog application </a>
      <a href="https://charliebotello.github.io/"></a>
    </small>
    <nav>
      <ul>
        <a href="https://charliebotello.github.io/" target="_blank">About Charlie Botello</a>
      </ul>
    </nav>
  </footer>
</div>